body{
  background-color: #eeeeee;
}

img{
    top: 0%;
    left: 0%;
}

.mySlides {
    display:none;
}


#slider{
  float: left;
  width: 50%;
}

header{
  height: 10%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#createUser{
      width: 450px;
  margin: auto;
  background: rgba(0,0,0,0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
}

#createUser input{
 width: 90%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#createUser input:focus{
  background-color: rgba(201, 201, 201, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	  overflow: hidden;
}

#createUser input[type=submit] {
    cursor: pointer;
}

#createUser button{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 90%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#createUser button:hover{
  background-color: #f0f0f0;
  color: #3c3c3c;

}

/** ------------------------------------------------ **/
#dropdown {
  position: absolute;
  top: 5%;
  right: 2%;
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#dropdown ul {
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#dropdown li {
  float: left;
  padding: 0px;
   width: 240px;
}

#dropdown li a {
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}

#dropdown > ul > li > a {
  color: #cccccc;
}

#dropdown ul ul a {
  color: #cccccc;
}

#dropdown li > a:hover, #dropdown ul li:hover > a, #dropdown li > a:active, #dropdown ul li:active > a {
  background: #218b1f;
  color: white;
  text-decoration: none;
}

#dropdown li ul {


  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 240px;
  z-index: 200;
}

#dropdown li:hover ul, #dropdown li:active ul {
  display: block;
}

.hidden{
  display: none;
  
}

#dropdown li li {
  top: 0%;
  right: 0%;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 240px;
}

#dropdown li:hover li a, #dropdown li:active li a {
  background: none;
}

#dropdown li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

#dropdown li ul a:hover, #dropdown li ul li:hover > a, #dropdown li ul a:active, #dropdown li ul li:active > a {
  background: #8B3E2F;
  color: #ffffff;
  text-decoration: none;
}

#error{
  color: red;
}