/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* BODY */
* {
  box-sizing: border-box;
}

html, body{
	height: 100%;
	margin: 0;
	display: inline;
}

body{
    font-size: 1.05em;
	line-height: 1.25em;
	font-family: Lato, Arial, Helvetica, sans-serif;
	background: #f9f9f9;
	color: #555;
}

a {
	color: #8f9277;
	text-decoration: none;
}

a:hover {

	color: #f0f0f0;

}

/* TABLE */

.row {
  padding: 0.5em;
  text-align: left;
}

table {
    width: 90%;
	margin-bottom: 50px;
}

table tr th {
  padding: 0.5em;
  text-align: left;
  background-color: #aaa;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #ddd;
}

table tr td {
  padding: 0.5em;
  text-align: left;
}

/*HEADER*/
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: rgba(225, 218, 218, 1);
	height: 100px;

}
header nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}


#logo{
	width: 45%;
	max-height: 100px;
}


    /* SIGN OUT*/
#signOut{
	line-height:  100px;
	margin-right: 25px;
}

    /* NAVIGATION*/
.dropbtn {
    margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	display: block;
    background-color: #8f9277;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
}

.dropdown-content {
    margin: 60px 20px 20px 20px;
	float: left;
	width: 200px;
	height: 40px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    background-color: #8f9277;
	overflow: visible;
	height: 150px;
	margin-top:50px;
}

/*CONTENT*/
section {
    padding-top: 4.5%;
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
    min-height: 100%;
	margin-bottom: -50px;
	padding-bottom: 150px;
}

/*MEDIA QUERY = RESPONSIVE AANPASSINGEN*/
@media only screen and (max-width : 740px) {

	header {

			position: relative;

	}

	nav {
		width: 100%;
		padding: 0px;

	}

	nav ul{

			display: block;
			position: relative;
			background: #FFF;
			width: 100%;

	}

	nav li {

			text-align: center;
			width: 100%;
			margin-bottom: 4px;
			padding: 10px 0px;
			background: #CCC;


	}

	img {

		margin-top: 20px;

	}

	table thead {
	    display: none;
	 }

	 table tr {
	    display: block;
	 }

	 table tr td {
	    border-bottom: none;
	    display: block;
	    padding: 0 0.5em;
	 }

	 .footer-distributed .footer-left,
		.footer-distributed .footer-right{
			text-align: center;
	}

	.footer-distributed .footer-right{
			float: none;
			margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
			line-height: 1.8;
	}

}

.circle {
    width: 100px;
    height:100px;
    border-radius: 100px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #b0b0b0;
    vertical-align: middle;
	margin: 80px 80px 20px 80px;
	box-shadow: 2px 2px 4px #000000;
}

.circles{
    background-color: palegreen ;
	opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 80px;


}

.bodyIndex{
    height: 100%;
    width: 100%
}

/*FORM*/
input{
  color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

form input:focus{
    	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

/*FOOTER*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    bottom: 0;
	position: fixed;
	padding: 4px 80px;
	margin-top: 80px;
    height: 15%;
    z-index: 100;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 12px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:14px;
	font-weight: normal;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
