body{
  background-color: #eeeeee;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

img{
    top: 0%;
    left: 0%;
}

.mySlides {
  margin-top: 75px;
  display:none;
}

#sliderNewUser{
  flex-flow: row nowrap;
  justify-content: space-between;
  display: -webkit-flex ;
  -webkit-flex-flow: wrap;
}

section{
  width: 900px;
  margin: auto;

}

/* HEADER */
header{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  flex-flow: row nowrap;
  justify-content: space-between;
  -webkit-flex-flow: wrap;
}

/* LOGIN DROPDOWN*/
#dropdown {
  position: absolute;
  top: 5%;
  right: 2%;
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#dropdown ul {
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#dropdown li {
  float: left;
  padding: 0px;
   width: 240px;
}

#dropdown li a {
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}

#dropdown > ul > li > a {
  color: #cccccc;
}

#dropdown ul ul a {
  color: #cccccc;
}

#dropdown li > a:hover, #dropdown ul li:hover > a, #dropdown li > a:active, #dropdown ul li:active > a {
  background: #8f9277;
  color: white;
  text-decoration: none;
}

#dropdown li ul {
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 240px;
  z-index: 200;
}

#dropdown li:hover ul, #dropdown li:active ul {
  display: block;
}

.hidden{
  display: none;
}

#dropdown li li {
  top: 0%;
  right: 0%;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 240px;
}

#dropdown li:hover li a, #dropdown li:active li a {
  background: none;
}

#dropdown li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

#dropdown li ul a:hover, #dropdown li ul li:hover > a, #dropdown li ul a:active, #dropdown li ul li:active > a {
  background: #8B3E2F;
  color: #ffffff;
  text-decoration: none;
}

#error{
  color: red;
}

#form-main{
  margin-right: 5%;
}

.input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #8f9277;
	color: #8f9277;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color: #5ca333;
	border:#5ca333 solid 3px;
}

#button{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #8f9277;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button:hover{
	background-color: rgba(0,0,0,0);
	color: #5ca333;
}

.submit:hover {
	color: #8f9277;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

/* Preferences & Paramters */
#preferences, #parameters{
    margin-left: 150px;
    line-height: 200%;
}

#next{
    background-color: transparent;
    border: 2px solid #8f9277;
  border-radius: 4px;
  display: inline-block;
  color: #8f9277;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

#next:hover{
    background-color: #8f9277;
    color: #eeeeee;
    cursor: pointer;
}

