{% extends "layout.html" %}
{% block title %}
    iGreenhouse - Home
{% endblock %}

{% block home %}
{% endblock %}


{% block body %}
    <div class="bodyIndex">
    <div class="bg"></div>
        <div class="circles">
                <div>
        {#            <div class="circle">{{ temperature }} °C </div>#}
                    <div>
                    <a {% block report %} {% endblock %} href="{{ url_for('report') }}"><div class="circle">{{ temperature }} °C </div></a>
                    </div>
                    <h2>Temperature</h2>
                </div>


                <div>
        {#            <div class="circle">{{ humidity }} %</div>#}
                    <div class="circle">{{ humidity }} %</div>
        {#            <a {% block report %} {% endblock %} href="{{ url_for('report') }}"><div class="circle">56 % </div></a>#}
                    <h2>Humidity</h2>
                </div>

                <div>
        {#            <div class="circle">{{ condition }}</div>#}
                    <div class="circle">{{ condition }}</div>
                    <h2>Condition windows & door</h2>
                </div>
          </div>
    </div>
{% endblock %}

