{% extends "layout.html" %}
{% block title %}
    iGreenhouse - Home
{% endblock %}

{% block home %}
{% endblock %}

<div class="bodyIndex">
{% block body %}
<div class="circles">
        <div>
{#            <div class="circle">{{ temperature }} °C </div>#}
            <div class="circle">20 °C </div>
            <h2>Temperature</h2>
        </div>

        <div>
{#            <div class="circle">{{ humidity }} %</div>#}
            <div class="circle">56 % </div>
            <h2>Humidity</h2>
        </div>

        <div>
{#            <div class="circle">{{ condition }}</div>#}
            <div class="circle">Open</div>
            <h2>Condition windows & door</h2>
        </div>
  </div>
{% endblock %}
</div>
