<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<main>
<body>
    <header>
        <nav>
            {% block navigation %}
                <div class="dropdown">
                  <button class="dropbtn">MENU</button>
                      <div class="dropdown-content">
                        <a href="{{ url_for('index') }}">Home</a>
                        <a  href="{{ url_for('report') }}">Report</a>
                        <a  href="{{ url_for('settings') }}">Settings</a>
                      </div>
                </div>

                <div>
                <a href="{{ url_for('index') }}"><img id="logo" src="../static/images/Logo.png" alt="Logo"></a>
                </div>

                <div id="signOut">
                    <a href="{{ url_for('logout') }}">Sign out</a>
                </div>
            {% endblock %}
        </nav>
    </header>


<section>
{% block body %}

    <div class="push"></div>
{% endblock %}
</section>

    <footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i></i></a>
				<a href="#"><i></i></a>
				<a href="#"><i></i></a>
				<a href="#"><i></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('report') }}">Report</a>
                    <a href="{{ url_for('settings') }}">Settings</a>
				</p>

				<p>Caitlin Geldof &copy; 2017</p>
			</div>

	</footer>

    <script type="text/javascript" src="../static/js/script.js"></script>
</body>
</main>
</html>