{% extends "layout-onboarding.html" %}
{% block title %}
    iGreenhouse
{% endblock %}

{% block onboarding1 %}
{% endblock %}

{% block body %}
    <h1>Preferences</h1>

    <form action="{{ url_for('onboarding2') }}" method="POST">
        <div>
        Reports
        <select name="reports">
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        </div>

        <div>
        Units
            <select name="unit">
                <option value="Fahrenheit" >Fahrenheit</option>
                <option value="Celcius" >Celcius</option>
            </select>
        </div>

        <input type="submit" value="Next">
    </form>


{% endblock %}
