{% extends "layout-onboarding.html" %}
{% block title %}
    iGreenhouse
{% endblock %}

{% block onboarding %}
{% endblock %}

{% block body %}

    <header>
        <div id='dropdown'>
            <ul>

                <li class='detail'>Already have an account?<a href='#' id="showLogin"><span>Sign in ▼</span></a>
                    <ul id="loginForm" class="hidden">
                        <form action="{{ url_for('index') }}" method="POST">
                            <li><input type="email" name="emailLogin" placeholder="E-mailaddress" required></li>
                            <li><input type="password" name="passwordLogin" placeholder="Password" required></li>
                            <li><input type="submit" value="Sign in"></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <section>

        <div id="sliderNewUser">

            <div id="slider">
                <img class="mySlides" src="../static/images/DSC_0169-min.JPG" style="width:450px">
                <img class="mySlides" src="../static/images/DSC_0172-min.JPG" style="width:450px">
                <img class="mySlides" src="../static/images/DSC_0175-min.JPG" style="width:450px">
            </div>


            <div id="form-main">
                <div id="form-div">
                    <form class="form" id="form1" action="{{ url_for('onboarding1') }}" method="POST">
                        <h1>Register Now</h1>
                        <div>
                            <input class="input" type="text" name="inputName" placeholder="Name" required autofocus>
                        </div>

                        <div>
                            <input class="input" type="email" name="inputEmail" placeholder="Email address" required>
                        </div>

                        <div>
                            <input class="input" type="password" name="inputPass" placeholder="Password" required>
                        </div>

                        <div>
                            <input class="input" type="password" name="inputRepeatPass" placeholder="Repeat password"
                                   required>
                        </div>


                        <div class="submit">
                            <input type="submit" value="Sign up" id="button">
                            <div class="ease"></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000);
        }
    </script>

{% endblock %}
