{% extends "layout-onboarding.html" %}
{% block title %}
    iGreenhouse
{% endblock %}

{% block onboarding %}
{% endblock %}

{% block body %}

    <header>
        <div id='dropdown'>
            <ul>

                <li class='detail'>Already have an account?<a href='#' id="showLogin"><span>Sign in ▼</span></a>
                    <ul id="loginForm" class="hidden">
                        <form action="{{ url_for('index') }}" method="POST">
                            <li><input type="email" name="emailLogin" placeholder="E-mailaddress" required></li>
                            <li><input type="password" name="passwordLogin" placeholder="Password" required></li>
                            <li><input type="submit" value="Sign in"></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div id="slider">
        <img class="mySlides" src="../static/images/serre1.jpg" style="width:30%">
        <img class="mySlides" src="../static/images/serre2.jpg" style="width:30%">
        <img class="mySlides" src="../static/images/serre3.jpg" style="width:30%">
    </div>


    <div id="createUser">
        <form action="{{ url_for('onboarding1') }}" method="POST">
            <h1>Register Now</h1>
            {% if error %}
                 <p id="error"><strong>Error: </strong> {{ error }}</p>
            {% endif %}

            <div>
                <input type="text" name="inputName" placeholder="Name" required autofocus>
            </div>
            <div>
                <input type="email" name="inputEmail" placeholder="E-mailaddress" required>
            </div>
            <div>
                <input type="password" name="inputPass" placeholder="Password" required>
            </div>
            <div>
                <input type="password" name="inputRepeatPass" placeholder="Repeat wachtwoord" required>
            </div>
            <div>
                <input type="submit" value="Sign up">
            </div>
        </form>
    </div>


    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>

{% endblock %}
