{% extends "layout.html" %}
{% block title %}
    iGreenhouse - Report
{% endblock %}

{% block rapporten %}
{% endblock %}

{% block body %}
    <h1>Report</h1>

    <table border="1px">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Value measurement</th>
            <th>Kind measurement</th>
            <th>Modify measurement</th>
        </tr>

        {% for result in results %}
            <tr>
                {% for meting in result %}
                    {% if meting == none %}
                        <td></td>
                    {% else %}
                        <td>{{ meting }}</td>
                    {% endif %}
                {% endfor %}
                </tr>

        {% endfor %}
    </table>


{% endblock %}
